---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Welcome to Astro.">
	<main id="main">
		<div class="w-11/12 max-w-6xl mx-auto">
			<Navbar />
			<h1 class="text-3xl font-black">Astro Template</h1>
			<p>Ready for your project.</p>
			<p class="font-mono">Mono font</p>
		</div>
	</main>
</Layout>