---
import Layout from '../layouts/Layout.astro';
import TopNav from '../components/TopNav.astro';
import EventBanner from '../components/EventBanner.astro';
import IconGrid from '../components/IconGrid.astro';
---

<Layout title="Peacetival 3.0">
	<main class="min-h-screen bg-yellow-400">
		<div class="w-full">
			<TopNav />
			<EventBanner />
			<IconGrid />
		</div>
	</main>
</Layout>
